{% extends 'movies/base.html' %}

{% block content %}

<div style="height: 10px;"></div>

<div class="alert alert-danger" role="alert">
    <h2 class="alert-heading">Version1.0</h2>
    <p>注意，现在是1.0版本</p>
    <hr>
    <p class="mb-0">
        已经实现的功能：实现了电影数据库，基本的功能框架--包括：用户注册、登录、退出、浏览、后台数据库的csv导入和导出。<br>
        即将实现的功能：使用ajax进行局部post请求，用户可以收藏喜欢的电影，形成推荐的依据集。<br>
        下一步的功能：加入推荐算法，基于用户收藏的电影集，产生推荐列表<br>
        难点：算法的评价、用户哪儿来？
    </p>
</div>


<div class="jumbotron shadow-lg">
    <h1 class="display-3">关于本站</h1>
    <p class="lead">本站的搭建和维护工作主要由Kqhasaki, JiangYan Wang, Dali Fu, YiRan Wang, XinZhang等人完成。</p>
    <hr class="my-4">
    <p>本站是一个小型统计案例比赛项目的组成部分，实现一个基于物品的小型电影推荐系统。
        <br>
        网站采用django3.0搭建，使用sqlite3数据库。所有的代码和数据都可以在Kqhasaki的github上找到。
        <br>
        本站仅仅为案例作品，其中涉及到的数据以豆瓣电影爬取为主，难以注明出处。本站所有静态资源来自于网络，不应用于任何盈利目的。
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://github.com/kqhasaki/Team-Website.git" role="button"
            target="_blank">网站源代码</a>
    </p>
    <p>
        使用方法：首先注册个人帐号，然后登录网站，浏览电影列表，收藏自己喜欢的电影。<br>
        最终实现个性化的电影推荐(基于电影属性)
        使用admin帐号登录可以进入后台数据库管理系统。
    </p>
</div>

{% endblock %}