{% load static %}
<!doctype html>
<html lang="zh">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="referrer" content="no-referrer">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'movies/main.css' %}">

    <title></title>
</head>

<body>

    <nav class="navbar shadow-lg sticky-top navbar-expand-lg navbar-dark" style="background-color: black;">

        <a href="{% url 'movies-home' %}" class="navbar-brand" style="font-weight: bold;">RsMovies</a>
        <button class="navbar-toggler"><span class="navbar-toggler-icon" data-toggle="collapse"
                data-target="#navbarMenu"></span></button>
        <div class="collapse navbar-collapse" id="navbarMenu">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="{% url 'movies-about' %}" class="nav-link"
                        style="font-weight: bold;">关于本站</a></li>
                <li class="nav-item"><a href="{% url 'movies-rec' %}" class="nav-link"
                        style="font-weight: bold;">推荐列表</a></li>
                <li class="nav-item"><a href="{% url 'liked-movies' %}" class="nav-link"
                        style="font-weight: bold;">我喜欢的</a></li>

                {% if user.is_authenticated %}

                {% if user.username == "admin" %}

                <li class="nav-item"><a href="/admin/" class="nav-link" style="font-weight: bold;">管理员入口</a>
                    {% endif %}

                <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link" style="font-weight: bold;">
                        {{ user.username }}</a></li>

                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link" style="font-weight: bold;">注销</a>
                </li>

                {% else %}

                <li class="nav-item"><a href="{% url 'register' %}" class="nav-link" style="font-weight: bold;">注册</a>
                </li>

                <li class="nav-item"><a href="{% url 'login' %}" class="nav-link" style="font-weight: bold;">登录</a>

                    {% endif %}
                </li>
            </ul>

        </div>

    </nav>

    <div class="container-fluid">
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% endfor%}
        {% endif %}
        {% block content %}{% endblock %}
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>