{% extends 'movies/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">

            <legend class="border-bottom mb-4">Register Now!</legend>
            {{ form | crispy }}

        </fieldset>

        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Already have an account?
            <a href="{% url 'login' %}" class="ml-2">Login In</a>
        </small>

    </div>

</div>

{% endblock %}